body,div,ul,ol,li,h1,h2,h3,h4,h5,h6,p { margin:0; padding:0; }
body { background:#fff; color:#555; font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
a { text-decoration:none; }
a:hover { text-decoration:underline; }
img { border:none; }
ol,ul,li { list-style:none; }
html {overflow-y: scroll;} 

html{
	height: 100%;
	width: 100%;
	font: lighter 100%/1.5 "Roboto", Verdana, sans-serif;
}

body{
	height: 100%;
	width: 100%;
	background-color: #009;
}

.page{
	box-sizing: border-box;
	position: absolute;
	width: 100%;
	height: 100%;
	color: #fff;
	-webkit-animation: color 20s linear infinite alternate;
	-o-animation: color 20s linear infinite;
	animation: color 20s linear infinite;
}
.home{
	top: 0;
	padding-top: 200px;
	text-align: center;
	text-shadow:1px 1px 3px yellow;
	font-size: 6em;
	z-index: 0;
}

.home p{
	line-height: 100px;
	margin: 0;
	display: block;
	width: 100%;
	cursor: pointer;
	position: absolute;
}

.zero{
	-webkit-animation: zoomOut 2s 0.5 ease-in forwards;
	animation: zoomOut 2s 0.5 ease-in forwards;
}
.one{
	-webkit-animation: zoomInAndExit 2s 1s ease-in both;
	animation: zoomInAndExit 2s 1s ease-in both;
}
.zto{
	opacity: 0;
	-webkit-animation: fadeInAndExit 1s 3s ease-in forwards;
	animation: fadeInAndExit 1s 3s ease-in forwards;
}
.zero-to-one{
	opacity: 0;
	-webkit-animation: fadeIn 1s 4s ease-in forwards;
	animation: fadeIn 1s 4s ease-in forwards;
}


@-webkit-keyframes zoomOut{
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
		-webkit-transform:scale3d(.3,.3,.3);
		transform:scale3d(.3,.3,.3);		
	}
}
@keyframes zoomOut{
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
		-webkit-transform:scale3d(.3,.3,.3);		
		transform:scale3d(.3,.3,.3);
	}
}

@-webkit-keyframes zoomInAndExit{
	0% {
		opacity: 0;
		-webkit-transform:scale3d(.3,.3,.3);
		transform:scale3d(.3,.3,.3);
	}
	99% {
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
@keyframes zoomInAndExit{
	0% {
		opacity: 0;
		-webkit-transform:scale3d(.3,.3,.3);
		transform:scale3d(.3,.3,.3);
	}
	99% {
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
@-webkit-keyframes fadeInAndExit{
	0% {
		opacity: 0;
	}
	90%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
@keyframes fadeInAndExit{
	0% {
		opacity: 0;
	}
	90%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
@-webkit-keyframes fadeIn{
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeIn{
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-webkit-keyframes color{
	0% {
		background-color: #f00;
	}
	100% {
		background-color: #00f;
	}
}
@keyframes color{
	0% {
		background-color: #f00;
	}
	100% {
		background-color: #00f;
	}
}

@-webkit-keyframes upAndDown{
	0% {
		margin-bottom: 0px;
	}
	50% {
		margin-bottom: 20px;
	}
	100%{
		margin-bottom: 0px;
	}
}
@keyframes upAndDown{
	0% {
		margin-bottom: 0px;
	}
	50% {
		margin-bottom: 20px;
	}
	100%{
		margin-bottom: 0px;
	}
}
.next{
	position: absolute;
	bottom: 20px;
	left: 50%;
	margin-left:-25px; 
	width: 50px;
	height: 50px;
	opacity: 0.5;
	cursor: pointer;
	-webkit-animation: upAndDown 2s linear infinite;
	-o-animation: upAndDown 2s linear infinite;
	animation: upAndDown 2s linear infinite;
	background: url(../images/banner.png) -24px 10px no-repeat;

}

.page:target{
	display: block;
}

.member{
	top: 100%;
	z-index: 2;
}

header{
	font-size: 4em;
	padding: 50px 0;	
	width: 100%;
	text-align: center;
}

.person{
	box-sizing: border-box;
	width: 33%;
	height: 150px;
	float: left;
	overflow: hidden;
	padding: 20px;

}

.person:hover{
	background-color: rgba(100,100,100,0.5);
}

.wrap{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.wrap a{
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: #fff;
}

.wrap .img-wrap{
	width: 30%;
	float: left;
	padding: 20px;
}

.wrap .img-wrap img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border:2px solid #ccc;
	box-shadow: 0px 0px 3px 0 #333;
}

.info .name{
	font-size: 2em;
}


.goal{
	top: 200%;
	z-index: 3;
}

.goal div{
	width: 80%;
	margin:  70px auto;
	text-align: center;
}

footer{
	width: 100%;
	text-align: center;
	bottom: 20px;
	position: absolute;
	bottom: 20px;
}
